html, body {
    // background-color: $color1;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

footer {
    color: #777;
    text-align: center;
    padding-top: 15px;
    min-height: 50px;
}

a {
    color: $color5;

    &:visited {
        color: darken($color5, 40%);
    }
}
