all-shorten {
    display: block;

    md-toolbar, md-table-container, md-table-pagination {
        background-color: white;
    }

    th, td.md-numeric {
        text-align: left !important;
    }

     md-checkbox.md-checked .md-ink-ripple, md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
        background-color: #f84545;
    }

    .long-url {
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 250px;
        overflow: hidden;
    }

    .shorten-url {
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 150px;
        overflow: hidden;
    }
}
