<md-content flex layout="column" layout-padding>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>URLs</span>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table ng-model="$ctrl.selected" md-progress="$ctrl.promise">
            <thead md-head>
                <tr md-row>
                    <th md-column md-numeric>Long URL</th>
                    <th md-column><span>Shorten URL</span></th>
                    <th md-column md-date>Created On</th>
                    <th md-column md-numeric><span>Clicks</span></th>
                    <th md-column><span>Token</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="url in $ctrl.data.docs">
                    <td md-cell>
                        <a ng-href="{{ url.long_url }}" ng-bind="url.long_url"></a>
                    </td>
                    <td md-cell>
                        <a ng-href="{{ url.shorten_url }}" ng-bind="url.shorten_url"></a>
                    </td>
                    <td md-cell ng-bind="url.create_on | date:'medium'"></td>
                    <td md-cell ng-bind="url.clicks | number:0"></td>
                    <td md-cell ng-bind="url.token"></td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination
        md-limit="$ctrl.query.limit"
        md-limit-options="[10, 20, 30]"
        md-page="$ctrl.query.page"
        md-total="{{ $ctrl.data.total }}"
        md-on-paginate="$ctrl.getUrls"
        md-page-select>
    </md-table-pagination>
</md-content>
