<md-card class="url-card">
    <md-card-title>
        <md-card-title-text>
            <a class="md-headline long-url" ng-href="{{ $ctrl.url.long_url }}" ng-bind="$ctrl.url.long_url"></a>
        </md-card-title-text>
    </md-card-title>
    <md-card-footer layout layout-align="space-between center">
        <div layout layout-align="left center">
            <small>
                <a class="shorten-url" ng-href="{{ $ctrl.url.fullUrl }}" ng-bind="$ctrl.url.fullUrl"></a>
                <input ng-attr-id="{{ $ctrl.url.shorten_url }}" class="copy-input" ng-value="$ctrl.url.fullUrl" tabindex="-1" readonly></a>
            </small>

            <md-button class="md-warn copy-small" ng-click="$ctrl.edit()" ng-if="!$ctrl.editing">
                Edit
            </md-button>

            <md-button class="md-primary copy-small" ng-click="$ctrl.save()" ng-if="$ctrl.editing">
                Save
            </md-button>

            <md-button class="md-warn copy-small" ng-click="$ctrl.copyUrl()" >
                Copy
            </md-button>
        </div>
        <div>
            <small ng-bind="$ctrl.url.clicks + ' redirects'"></small>
        </div>
    </md-card-footer>
</md-card>
