

<form novalidate>
    <div class="form-group">
        <input id="url" class="form-control" type="text" placeholder="Paste a link" ng-model="$ctrl.url">
    </div>

    <div class="form-group">
        <input class="btn btn-primary" ng-if="$ctrl.url && $ctrl.url === $ctrl.short.fullUrl" type="button" ng-click="$ctrl.copyUrl()" value="Copy">
        <input class="btn btn-primary" ng-if="$ctrl.short == null || $ctrl.url !== $ctrl.short.fullUrl" type="submit" ng-click="$ctrl.shortUrl()" value="Shorten">
    </div>
</form>
